/*******************************************************************************
*  Title: Web shop «Bembi» - Template CSS file
*  Last update: Nov 12, 2019
*  Author: Nikita Kirilov (Elendarien)
*  Website: https://sinup.od.ua
*  E-mail: kirilovbiz@gmail.com
*******************************************************************************/
@charset "utf-8";

:root{
	--color-1:#005c99; --color-2:#ef0303; --color-3:#4eba06; --color-4:#9c9c9c; --color-5:#0e0e0e; --color-6:#eff6f9;
}
/********************************* DEFAULT.PHP *********************************/
@font-face{font-family:'Calibri';font-weight:400;src:local('Calibri'), url('/fonts/calibri.ttf') format('ttf')}
@font-face{font-family:'Calibri';font-weight:300;src:local('Calibri Light'), url('/fonts/calibril.ttf') format('ttf')}
@font-face{font-family:'Calibri';font-weight:700;src:local('Calibri Bold'), url('/fonts/calibrib.ttf') format('ttf')}

* {margin:0px;padding:0px} html{overflow-x:hidden} body{margin:0px;padding:0px; font-family:'Calibri', sans-serif} body a{cursor:pointer} .more{visibility:hidden} p{display:block;margin-top:0px;margin-bottom:0rem!important;-webkit-margin-before:0em;-webkit-margin-after:0em;-webkit-margin-start:0px;-webkit-margin-end:0px} input:focus, textarea:focus, select:focus{outline-offset:0px} :focus{outline:-webkit-focus-ring-color auto 0px} .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{margin-bottom:0} .dropdown-menu{margin:0!important} .nocopy{-webkit-touch-callout:none;-khtml-user-select:none;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}

#go-top{position:fixed;bottom:25px;right:25px;text-align:center;cursor:pointer;display:none;width:50px;height:50px;background-color:var(--primary-color);color:#fff;line-height:50px;border-radius:50%;transition:.5s} #go-top:hover{background-color:var(--secondary-color);color:#000}

/** header **/


/** footer **/


/** modal **/


/********************************* INDEX.PHP *********************************/
/** slider **/


/** popular **/


/** advantages **/


/** greeting **/


/********************************* ABOUT.PHP *********************************/


/********************************* ARTICLE.PHP *********************************/


/********************************* CART.PHP *********************************/
/** cart **/


/** popular **/


/** cart_form **/


/********************************* CONTACT.PHP *********************************/


/********************************* KAK_ZAKAZAT.PHP *********************************/


/********************************* NEWS.PHP *********************************/


/********************************* OBMEN_VOZVRAT.PHP *********************************/


/********************************* OPLATA_DOSTAVKA.PHP *********************************/


/********************************* PRODUCT.PHP *********************************/
/** product **/


/** prod_popular **/


/********************************* SHOP.PHP *********************************/


/********************************* THANKS.PHP *********************************/


/********************************* All Font Sizes *********************************/


/********************************* MOBILE STYLES *********************************/
@media(max-width:576px){
	
}
@media(min-width:576px){
	
}
@media(min-width:768px){
	
}
@media(min-width:992px){
	
}
@media(min-width:1200px){
	
}
@media print{
	
}